venv310/
__pycache__/
_recovered/
*.pyc
.env
*.egg-info/
node_modules/
.DS_Store

# Bỏ ignore folder LUANVAN để track code
# LUANVAN (2) - Copy/

# Ignore file lớn, model AI, audio
*.wav
*.mp3
*.pt
*.pth
*.bin
*.onnx
*.pkl
*.safetensors
uploads/
audio_outputs/
vixtts_model/
rvc_training/
processed/
models/
__pycache__/

# Flutter build output
app_web_view/build/
