<script>
tailwind.config = {
  darkMode: "class",
  theme: {
    extend: {
      colors: {
        "surface-container-lowest": "#010f1f",
        "surface-container-low":    "#0d1c2d",
        "surface-container":        "#122131",
        "surface-container-high":   "#1c2b3c",
        "surface-container-highest":"#273647",
        "surface-dim":  "#051424",
        "surface":      "#051424",
        "surface-bright":"#2c3a4c",
        "surface-variant":"#273647",
        "on-surface":        "#d4e4fa",
        "on-surface-variant":"#cbc3d7",
        "on-background":     "#d4e4fa",
        "background":        "#051424",
        "primary":           "#d0bcff",
        "primary-fixed":     "#e9ddff",
        "primary-fixed-dim": "#d0bcff",
        "primary-container": "#a078ff",
        "on-primary":        "#3c0091",
        "on-primary-container":"#340080",
        "on-primary-fixed":  "#23005c",
        "on-primary-fixed-variant":"#5516be",
        "inverse-primary":   "#6d3bd7",
        "secondary":         "#bec6e0",
        "secondary-fixed":   "#dae2fd",
        "secondary-fixed-dim":"#bec6e0",
        "secondary-container":"#3f465c",
        "on-secondary":      "#283044",
        "on-secondary-container":"#adb4ce",
        "on-secondary-fixed":"#131b2e",
        "on-secondary-fixed-variant":"#3f465c",
        "tertiary":          "#2fd9f4",
        "tertiary-fixed":    "#a2eeff",
        "tertiary-fixed-dim":"#2fd9f4",
        "tertiary-container":"#009fb4",
        "on-tertiary":       "#00363e",
        "on-tertiary-container":"#002f36",
        "on-tertiary-fixed": "#001f25",
        "on-tertiary-fixed-variant":"#004e5a",
        "error":             "#ffb4ab",
        "error-container":   "#93000a",
        "on-error":          "#690005",
        "on-error-container":"#ffdad6",
        "outline":           "#958ea0",
        "outline-variant":   "#494454",
        "inverse-surface":   "#d4e4fa",
        "inverse-on-surface":"#233143",
        "surface-tint":      "#d0bcff",
      },
      fontFamily: {
        "manrope": ["Manrope", "sans-serif"],
      },
    },
  },
}
</script>
